#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #46A358);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #46A358);
}

.loading {
  background: linear-gradient(80deg, #d0d3d6 25%, #ffffff 50%, #d0d3d6 75%);
  background-size: 200% 100%;
  animation: loading 2s infinite linear;
  border-radius: 8px;
}

@keyframes loading {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

@media screen and (max-width: 400px) {
  .product_card_img{
    height: 150px;
  }
}


.product-description h4 {
  /* font-size: 1.5rem; */
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
  color: #42A358;
}


.product-description p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
  /* margin: 20px 0; */
}